div#block-cacure_mgmt-4 {
  width: 337px;
  background: url('images/grey_box.png') top left no-repeat;
  margin-top: 30px;
  float: left;
  min-height: 150px;
}

div#block-cacure_mgmt-4 h2 {

  border-bottom: 1px solid #CCCCCC;
}

div#block-cacure_mgmt-4 h2 {
  padding: 0 0 0 20px;
  font-size: 14px;
  color: #669933;
  line-height: 30px;
  font-weight: bold;
}

div#block-cacure_mgmt-4 .content {
  position: relative;
}

div#block-cacure_mgmt-4 .module-body {
  height: 100px;
  margin-top: 20px;
  border-top: 1px dotted #CCCCCC;
  padding-top: 5px;
}

div#block-cacure_mgmt-4 #date-submitted {
  position: absolute;
  left: 180px;
  top: 35px;
  font-size: 11px;
}

.IE7 div#block-cacure_mgmt-4 #date-submitted {
  position: absolute;
  left: 180px;
  top: 28px;
  font-size: 11px;
}

div#block-cacure_mgmt-4 .sub-head {
  display: none;
}

div#block-cacure_mgmt-4 div.module-name, div#block-cacure_mgmt-4 div.edit {
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  float: left;
  padding-left: 20px;
  width: 138px;
  padding-bottom: 5px;
}

div#block-cacure_mgmt-4 div.edit {
  width: 50px;
  padding-left: 0;
}

div#block-cacure_mgmt-4 div.module-body {
  position: relative;
}

div#block-cacure_mgmt-4 div.module-body .message {
  padding-left: 20px;
  font-size: 12px;
}

div#block-cacure_mgmt-4 div.module-submition-date {
  float: left;
  font-size: 11px;
  line-height: 16px;
  width: 75px;
}

div#block-cacure_mgmt-4 div.help {
  height: 0;
  border-bottom: dotted 1px #CCCCCC;
  padding: 10px 20px;
}

div#block-cacure_mgmt-4 .quest-help {
  display: none;
}

div#block-cacure_mgmt-4 li {

  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #007fbc;
  padding: 0 20px;
}

div#block-cacure_mgmt-4 li a {
  color: #007fbc;
  font-size: 10px;
}

div#block-cacure_mgmt-4 li div.health-progress {
  margin-top: 5px;
}

/********  My Submitted Questionnaire Full Version ***********/

.my-submitted-questionnaires div#block-cacure_mgmt-2 {
  width: 655px;
  background: url('images/grey_box_big.png') top left no-repeat;
  margin-top: 40px;
  min-height: 300px;
  padding: 20px;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 div.health-title {

  display: none;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 div.help {
  height: 0;
  border-bottom: none;
  padding: 0;
}

div#block-cacure_mgmt-2 .module-name {
  width: 575px;
  float: left;
  font-weight: bold;
}

div#block-cacure_mgmt-2 .view-and-pring {
  float: left;
  width: 75px;
  position: relative;
}

div#block-cacure_mgmt-2 .view-and-pring img {
  position: absolute;
  top: 2px;
  right: 15px;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 div.form-element div.text, .my-submitted-questionnaires div#block-cacure_mgmt-2 div.form-element div.edit {
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
  float: left;
  width: 430px;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 .hcit-questionnaire-topic {
  display: none;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 div.form-element div.edit {
  width: 100px;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 h2, .my-submitted-questionnaires div#block-cacure_mgmt-2 .sub-head {
  display: none;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 .quest-help, .my-submitted-questionnaires div#block-cacure_mgmt-2 .quest-title {
  display: none;
}

.my-how-overview div#block-cacure_mgmt-1 .quest-help + div {
  padding: 10px 20px;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 ui.health-element li {

  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #007fbc;
  padding: 0;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 ui.health-element li a {
  color: #007fbc;
  font-size: 10px;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 ui.health-element li div.health-progress {
  margin-top: 5px;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 .status-help, .my-submitted-questionnaires div#block-cacure_mgmt-2 .completed.image {
  display: none;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 .form-element {
  position: relative;
  height: 35px;
}

.my-submitted-questionnaires div#block-cacure_mgmt-2 .module-submition-date {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 11px;
}

/************************************************************/
/*             Management Module                            */
/************************************************************/
div#block-cacure_mgmt-1 {
  width: 100%;
  margin-top: 0;
  min-height: 150px;
  font-size: 12px;
}

.my-how-overview div#block-cacure_mgmt-1 {
  background: url('images/pink_box_big.png') top left no-repeat;
}

div#block-cacure_mgmt-1 .health-element, div#block-cacure_mgmt-2 .health-element {
  padding: 0;
  position: relative;
}

div#block-cacure_mgmt-1 h2 {
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  background: #ec068d;
  color: #FFFFFF;
  padding: 0 20px;
}

div#block-cacure_mgmt-1 div.form-element div.text, div#block-cacure_mgmt-1 div.form-element div.edit {
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
  float: left;
  padding-left: 10px;
  width: 530px;
}

div#block-cacure_mgmt-1 div.form-element div.text.active {
  padding-left: 15px;
  margin-left: -4px;
  background: url("images/list_image.png") no-repeat scroll 0 6px transparent;
}

.my-how-overview div#block-cacure_mgmt-1 .sub-head .status {
  float: right;
  position: static;
}

div#block-cacure_mgmt-1 .quest-title {
  display: none;
}

div#block-cacure_mgmt-1 div.form-element div.edit {
  width: 65px;
}

.my-how-overview  div#block-cacure_mgmt-1 div.form-element div.text {
  width: 490px;
}

div#block-cacure_mgmt-1 div.form-element div.image {
  float: left;
  width: 18px;
  height: 10px;
  padding-top: 2px;
}

.IE7 div#block-cacure_mgmt-1 div.form-element div.image {
  padding-top: 5px;
}

div#block-cacure_mgmt-1 div.form-element div.text .hcit-questionnaire-part-number {
  width: 60px;
  display: inline-block;
}

.my-how-overview div#block-cacure_mgmt-1 .sub-head {
  line-height: 0px;
  height: 0;
  padding: 0 20px 0 0;
}

div#block-cacure_mgmt-1 .sub-head {
  border: none;
}

div#block-cacure_mgmt-1 div.status-help {
  display: none;
}

div#block-cacure_mgmt-1 .content {
  position: relative;
  margin-bottom: 20px;
  width: 697px;
}

.my-how-overview div#block-cacure_mgmt-1 .sub-head {
  border-bottom: 1px solid #CCCCCC;
  line-height: 30px;
  height: 30px;
  padding: 0 55px 0 20px;
}

div#block-cacure_mgmt-1 .sub-head .current {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
}

div#block-cacure_mgmt-1 .sub-head .status {
  color: #929296;
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 68px;
}

#block-cacure_mgmt-1 .form-module-submit {
  cursor: pointer;
  height: 41px;
  width: 139px;
  display: none;
}

#block-cacure_mgmt-3 #submit_questionnaire p {
  margin: 0;
  padding: 10px 0;
}

#block-cacure_mgmt-3 .form-module-submit {
  float: left;
  width: 150px;
  padding: 0;

}

#block-cacure_mgmt-3 #submit_questionnaire p.cancel {
  float: left;
  /*width: 476px;*/
  text-align: right;
}

#block-cacure_mgmt-3 #submit_questionnaire #button-wrap {
  width: 710px;
  margin-top: 50px;
  height: 60px;
  clear: right;
}

#block-cacure_mgmt-3 #submit_questionnaire .button-text {
  color: #333333;
  font-size: 11px;
  width: 250px;
  line-height: 14px;
  /*float: right;*/
  padding-top: 0;
  position: relative;
  /*left: 140px;*/
}

#block-cacure_mgmt-3 .form-module-submit-enabled {
  display: block;
  height: 35px;
  width: 139px;
  cursor: pointer;
  padding-bottom: 0;
}

body #block-cacure_mgmt-3 p.form-module-submit.form-module-submit-disabled {
  background: url(images/submit_big_disable.png) top left no-repeat !important;
  display: block;
  height: 35px;
  width: 139px;
  cursor: pointer;
  padding-bottom: 0;
}
body #block-cacure_mgmt-3 p.form-module-submit.form-module-submit-enabled {
    background: url("images/submit-enabled.png") no-repeat scroll left top transparent !important;
}

div#block-cacure_mgmt-1 img {

  vertical-align: middle;
}

div#block-cacure_mgmt-1 div.element-header div.module-name {
  padding: 0;
  color: #ec068d;
  border-top: 1px solid #CCCCCC;
  border-bottom: dotted #CCCCCC 1px;
}

.my-how-overview div#block-cacure_mgmt-1 div.health-title,
div#block-cacure_mgmt-2 div.health-title {
  border: none;
  padding: 0 20px;
  margin-bottom: 10px;

}

.my-how-overview div#block-cacure_mgmt-1 div.element-header {
  padding: 0 20px 5px 20px;
}

div#block-cacure_mgmt-1 div.element-header div.module-name {
  font-size: 14px;
  line-height: 30px;
  float: none;
  height: 30px;
  margin: 0;
  font-weight: bold;
}

div#block-cacure_mgmt-1 div.element-header div.module-name .hcit-questionnaire-topic,
div#block-cacure_mgmt-2 div.element-header div.module-name .hcit-questionnaire-topic {
  color: #999999;
  padding-right: 3px;
}

div#block-cacure_mgmt-1 div.element-header div.module-name .hcit-questionnaire-comment {
  padding-left: 20px;
}

div#block-cacure_mgmt-1 .form-element-list,
div#block-cacure_mgmt-2 .form-element-list {
  padding: 10px 0 0 30px;
}

div#block-cacure_mgmt-1 .form-element-list .form-element:first-child div.image img,
div#block-cacure_mgmt-2 .form-element-list .form-element:first-child div.image img {

}

.my-how-overview div#block-cacure_mgmt-1 .form-element-list,
div#block-cacure_mgmt-2 .form-element-list {
  padding: 0 0 0 50px;
}

div#block-cacure_mgmt-2 .form-element-list {
  padding-top: 40px;
}

div#block-cacure_mgmt-2 .hcit-questionnaire-part-number {
  display: none;
}

div#block-cacure_mgmt-2 .hcit-questionnaire-part-number + div, div#block-cacure_mgmt-2 .hcit-questionnaire-part-number + div + div {
  float: left;
  width: 200px;
}

.my-how-overview div#block-cacure_mgmt-1 div.element-header div.module-name {
  font-size: 14px;
  border-bottom: dotted #CCCCCC 1px;
  border-top: none;
}

div#block-cacure_mgmt-1 div.quest-progress img,
div#block-cacure_mgmt-2 div.quest-progress img {
  display: none;
}

div#block-cacure_mgmt-1 div.quest-help,
div#block-cacure_mgmt-2 div.quest-help {
  font-style: italic;
  margin-left: 8px;
  margin-right: 8px;
}

div#block-cacure_mgmt-1 li,
div#block-cacure_mgmt-2 li {
  padding-left: 50px;
  padding-right: 10px;
  line-height: 22px;
  position: relative;
}

div#block-cacure_mgmt-1 li .health-progress,
div#block-cacure_mgmt-2 li .health-progress {
  position: absolute;
  top: 0;
  right: 70px;
}

div#block-cacure_mgmt-1 div.help,
div#block-cacure_mgmt-2 div.help {
  border-bottom: 3px solid #667983;
}

div#block-cacure_mgmt-1 .finish,
div#block-cacure_mgmt-2 .finish {
  margin-left: 30px;
  padding-left: 3px;
  line-height: 22px;
}

.my-how-overview div#block-cacure_mgmt-1 .finish {
  margin-left: 68px;
  line-height: 22px;
}

div#block-cacure_mgmt-1 .finish span,
div#block-cacure_mgmt-2 .finish span {
  float: none;
  padding: 0 0 0 292px;
  display: inline-block;

}

.my-how-overview div#block-cacure_mgmt-1 .finish span,
div#block-cacure_mgmt-2 .finish span {
  float: none;
  padding: 0 0 0 268px;
  display: inline-block;
}

div#block-cacure_mgmt-1 .finish span.part,
div#block-cacure_mgmt-2 .finish span.part {
  float: none;
  color: #999999;
  font-weight: bold;
  width: 58px;
  display: inline-block;
  padding: 0;
}

.submit-questionnaire div#block-cacure_mgmt-1 .finish,
div#block-cacure_mgmt-2 .finish {
  margin-left: 30px;
  padding-left: 15px;
  background: url('images/list_images.png') no-repeat scroll 0 8px transparent;

}

.submit-questionnaire div#block-cacure_mgmt-1 .finish a,
div#block-cacure_mgmt-2 .finish a {
  color: #333333;
}

div#block-cacure_mgmt-1 div.quest-submitted,
div#block-cacure_mgmt-1 div.quest-progress,
div#block-cacure_mgmt-1 div.quest-new,
div#block-cacure_mgmt-1 div.form-new {
  width: 10px !important;
  height: 10px !important;
}

div#block-cacure_mgmt-1 div.quest-submitted,
div#block-cacure_mgmt-1 div.quest-progress {
  background: url(/sites/all/modules/custom/cacure_mgmt/css/images/progress-health.png);
}

div#block-cacure_mgmt-1 div.quest-new {
  background: url(/sites/all/modules/custom/cacure_mgmt/image/new-health.png);
}
/*
div#block-cacure_mgmt-1 div.completed {
  background: url(/sites/all/modules/custom/cacure_mgmt/css/images/finish.png);
  width: 13px !important;
  height: 10px !important;
  margin-top: 3px;
}

div#block-cacure_mgmt-1 div.form-new,
div#block-cacure_mgmt-1 div.in-progress {
  background: url(/sites/all/modules/custom/cacure_mgmt/css/images/progress.png);
  width: 10px !important;
  height: 8px !important;
  margin: 5px 3px 0 0;
}
*/
#block-cacure_mgmt-1 div.image {
  font-size: 0;
}

#block-cacure_mgmt-4 .module-body .edit {
  width: 80px;
}

/*questionare sidebar block*/




#block-cacure_mgmt-6 .hcit-questionnaire-part-number {
	display: none;
}
#block-cacure_mgmt-6 .edit {
	display: none;
}
#block-cacure_mgmt-6 .form-element .text a {
	font-weight: bold;
}

#block-cacure_mgmt-6 .module-name{
	color: #38306E;
	font-weight: bold;
}

#block-cacure_mgmt-6 .module-name .hcit-questionnaire-topic{
	color: #999;
	padding-right: 3px;
	margin-left:-10px;
}
#block-cacure_mgmt-6 .module-name .hcit-questionnaire-comment{
	display:none;
}

#block-cacure_mgmt-6 .status-help{
	display:none;
}

#block-cacure_mgmt-6 div.quest-submitted, #block-cacure_mgmt-6 div.quest-progress, #block-cacure_mgmt-6 div.quest-new, #block-cacure_mgmt-6 div.form-new {
    height: 10px !important;
    width: 10px !important;
}
#block-cacure_mgmt-6 div.quest-submitted, #block-cacure_mgmt-6 div.quest-progress {
    background: url("/sites/all/modules/custom/cacure_mgmt/css/images/progress-health.png") repeat scroll 0 0 transparent;
}
#block-cacure_mgmt-6 div.quest-new {
    background: url("/sites/all/modules/custom/cacure_mgmt/image/new-health.png") repeat scroll 0 0 transparent;
}
/*
#block-cacure_mgmt-6 div.completed {
    background: url("/sites/all/modules/custom/cacure_mgmt/css/images/finish.png") repeat scroll 0 0 transparent;
    height: 10px !important;
    margin-top: 3px;
    width: 13px !important;
}

#block-cacure_mgmt-6 div.form-new, #block-cacure_mgmt-6 div.in-progress {
    background: url("/sites/all/modules/custom/cacure_mgmt/css/images/progress.png") repeat scroll 0 0 transparent;
    height: 8px !important;
    margin: 5px 3px 0 0;
    width: 10px !important;
}
*/

div.in-progress, div.submitted, div.approved, div.completed {
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0 6px;
}

div.in-progress {
    background-image: url('./images/red.png');
}

div.submitted {
    background-image: url('./images/yellow.png');
}

div.approved {
    background-image: url('./images/green.png');
}

div.completed {
    background-image: url('./images/blue.png');
}

#block-cacure_mgmt-6 div.image {
    font-size: 0;
	float:left;
}
#block-cacure_mgmt-6 .form-element .text {
	float: left;
	margin-right: 5px;
}