/* $Id: layout.css,v 1.14 2009/05/07 17:00:40 jmburnz Exp $ */
/*
 * LAYOUT STYLES
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * The Pixture Reloaded layout is based on the Holy Grail layout used in the
 * Zen Theme. http://drupal.org/project/zen
 *
 */
/*-------------------------------------------------------------------*/
/*                              Reset                                */
/*-------------------------------------------------------------------*/
body,
.comment,
#logo,
#branding,
#site-slogan,
#content-inner,
#sidebar-left .block,
#sidebar-right .block,
#header-blocks .block,
#content-top .block,
#content-bottom .block,
#footer .block .content,
#forum td.forum,
#forum .name a,
#forum .description,
div.admin-panel,
li,
.item-list ul,
ul.images li h3,
div.item-list ul.pager li,
ul.pager li,
.tabs ul,
div.page-links a.page-previous,
div.page-links a.page-up,
div.page-links a.page-next,
ul.images li h3 {
  padding: 0;
  margin: 0;
}

/*-------------------------------------------------------------------*/
/*                              Page                                 */
/*-------------------------------------------------------------------*/
#page {
  margin: 0 auto;
  padding: 0px;
  max-width: 1600px;
  min-width: 1000px;
}

/*-------------------------------------------------------------------*/
/*                             Skip to                               */
/*-------------------------------------------------------------------*/
#skip-to-content {
  height: 0;
  overflow: hidden;
  font-size: 0.8em;
}
/*-------------------------------------------------------------------*/
/*                             Main                               */
/*-------------------------------------------------------------------*/
#main {
   position: relative;
   left: 10px;
}
/*-------------------------------------------------------------------*/
/*                               Header                              */
/*-------------------------------------------------------------------*/
#header {
  margin: 0 0 15px 0;
  padding: 0;
  height: 120px;
}

#logo {
  margin: 0 10px 0 0;
  padding: 0;
  height: 88px;
  float: left;
  overflow: hidden;
}

.sub-header {
  width: 678px !important;
  height: 88px !important;
}

#superfish-1 a {
  display: block;
  min-height: 30px;
}

#superfish-2 a {
  display: block;
  min-height: 30px;
}

#superfish-3 a {
  display: block;
  min-height: 30px;
}

#superfish-4 a {
  display: block;
  min-height: 30px;
}

#superfish-5 a {
  display: block;
  min-height: 30px;
}

#superfish-6 a {
  display: block;
  min-height: 30px;
}

#superfish-7 a {
  display: block;
  min-height: 30px;
}

#superfish-8 a {
  display: block;
  min-height: 30px;
}

#superfish-9 a {
  display: block;
  min-height: 30px;
}

#superfish-10 a {
  display: block;
  min-height: 30px;
}

#superfish-11 a {
  display: block;
  min-height: 30px;
}

#superfish-1 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-2 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-3 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-4 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-5 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-6 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-7 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-8 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-9 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-10 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-11 li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#superfish-1 {
  padding-right: 50px;
  padding-left: 30px;
}

#superfish-2 {
  padding-right: 50px;
  padding-left: 30px;
}

#superfish-3 {
  padding-right: 50px;
  padding-left: 30px;
}

#superfish-4 {
  padding-right: 50px;
  padding-left: 30px;
}

#superfish-5 {
  padding-right: 50px;
  padding-left: 30px;
}

#superfish-6 {
  padding-right: 50px;
  padding-left: 30px;
}

#superfish-3 a {
  display: block;
}

#superfish-11 {
  padding-right: 50px;
  padding-left: 30px;
}

.header-image {
  width: 478px !important;
  height: 68px !important;
  padding-top: 21px;
}

.block-title {

}

#footer .block {
  width: 215px;
  margin: 0 auto;
}

#footer-message {
  width: 300px;
  margin: 0 auto;
  clear: both;
}

#block-block-4 {
  height: 0px;
}

#block-aggregator-feed-11 {
  display: none;
}

/*#block-block-4{
    position: absolute;
    left: 590px;
    top: 10px;
    width: 578px;
    height: 68px;
}*/
#block-menu-secondary-links {
  float: right;
}

#block-addtoany-0 {
  float: right; /*padding-top: 23px !important;*/
  color: white !important;
}

#block-menu-menu-external-links {
  float: right;

}

#head-elements {
  height: 88px;
  margin: 0 0 0 15px;
  padding: 0;
}

h1#site-name,
div#site-name {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 2.6em;
  line-height: 1.3em;
}

#site-slogan em {
  font-style: normal;
  margin: 0;
}

#block-block-5 {
  height: 0px;
}

#search-box {
  float: right;
  position: relative;
  margin: 35px 20px 0pt 0pt; /* pull the search box into position */
  padding: 0;
}

/*-------------------------------------------------------------------*/
/*                   Additional Regions & blocks                     */
/*-------------------------------------------------------------------*/
#header-blocks,
#content-top,
#content-bottom {
  clear: both; /* Clear the header */
  text-align: left;
}

#header-blocks .block-inner,
#content-top .block-inner,
#content-bottom .block-inner {
  margin: 0 auto;
}

/*-------------------------------------------------------------------*/
/*                              Main                                 */
/*-------------------------------------------------------------------*/
#main {
  position: relative;
  padding: 0 15px 10px 15px;
}

#main-inner {
}

/*-------------------------------------------------------------------*/
/*                            Content                                */
/*-------------------------------------------------------------------*/
#block-block-5 {
  display: none;
}

.block .block-content {
  padding: 0 0 10px !important;
}

#content {
  float: left;
  width: 95%;
  margin-left: 25px;
  margin-right: -100%; /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.two-sidebars #content-inner {
  padding-left: 235px; /* The width + left margin of #sidebar-left. */
  padding-right: 235px; /* The width + right margin of #sidebar-right. */
}

.sidebar-left #content-inner {
  padding-left: 235px; /* The width + left margin of #sidebar-left. */
  padding-right: 0;
}

.sidebar-right #content-inner {
  padding-left: 0;
  padding-right: 235px; /* The width + right margin of #sidebar-right. */
}

/* Set wider margins in full node view for readability
This uses the extra body class ".node-full-view", set in pixture_reloaded_preprocess_page  */
.node-full-view.two-sidebars #content-inner {
  padding-left: 245px; /* The width + left margin of #sidebar-left. */
  padding-right: 245px; /* The width + right margin of #sidebar-right. */
}

.node-full-view.sidebar-left #content-inner {
  padding-left: 243px; /* The width + left margin of #sidebar-left. */
  padding-right: 0;
}

.node-full-view.sidebar-right #content-inner {
  padding-left: 0;
  padding-right: 245px; /* The width + right margin of #sidebar-right. */
}

/*-------------------------------------------------------------------*/
/*                        Primary, Superfish                         */
/*-------------------------------------------------------------------*/
#primary,
#superfish {
  padding: 0;
}

#primary-inner {
  margin: 6px 0 0 15px;
}

#superfish-inner {
  margin: 0 0 0 15px;
}

/* Zero left margin for centered menus (optional)
#primary-inner   { margin: 6px 0 0 0;}
#superfish-inner { margin: 0 0 0 0;}
*/
#primary ul {
  margin: 0;
}

#primary ul li.first {
  padding-left: 0;
}

/*-------------------------------------------------------------------*/
/*                             Sidebars                              */
/*-------------------------------------------------------------------*/
/** sidebar-left **/
#sidebar-left {
  float: left;
  width: 220px;
  margin-left: 0;
  margin-right: -220px; /* Negative value of #sidebar-left's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}

/** sidebar-right **/
#sidebar-right {
  float: right;
  width: 260px;
  margin-left: -220px; /* Negative value of #sidebar-right's width + right margin. */
  margin-right: 0;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
}

/*-------------------------------------------------------------------*/
/*                          Footer & Closure                         */
/*-------------------------------------------------------------------*/
#footer {
  min-height: 70px;
  clear:both;
}

#footer-message {
  padding: 0 0 3px 0;
}

#closure-blocks {
}

/*-------------------------------------------------------------------*/
/*                   Prevent overflowing content                     */
/*-------------------------------------------------------------------*/
#header,
#content,
#navbar,
#sidebar-left,
#sidebar-right,
#footer,
#closure-blocks {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*-------------------------------------------------------------------*/
/*                             Clearing                              */
/*-------------------------------------------------------------------*/
/* Clearing floats without extra markup
   http://www.positioniseverything.net/easyclearing.html */
.breadcrumb {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* Regular clearing */
.clear {
  clear: both;
}
#block-menu-menu-diabetes-external-links h2,
#block-menu-secondary-links h2,
#block-nice_menus-1 h2,
#block-menu-menu-footer-links h2,
#block-addtoany-0 h2,
#block-menu-menu-external-links h2 {
  display: none;
}

.clear-block {
  display: inline-block;
}

.sf-menu.sf-style-space-orange li,
.sf-menu.sf-style-space-orange li li,
.sf-menu.sf-style-space-orange li li li,
.sf-navbar.sf-style-space-orange {
  background: none repeat scroll 0 0 #D7ECF8 !important;
  color: #000000 !important;
}

#superfish-3 {
  border: 1px #ffffff;
}

#nice-menu-1>li {
  background: url("images/bg-menu.png") repeat scroll 0 0 transparent !important;
}

#nice-menu-1 {
  background: url(images/bg-menu.png);
}

#2men {
  background: url("images/bg-menu.png") repeat scroll 0 0 transparent !important;
}

#5men {
  background: url("images/bg-menu.png") repeat scroll 0 0 transparent !important;
}

.sf-menu.sf-style-space-orange li:hover,
.sf-menu.sf-style-space-orange li.sfHover,
.sf-menu.sf-style-space-orange li.active a,
.sf-menu.sf-style-space-orange a:focus,
.sf-menu.sf-style-space-orange a:hover,
.sf-menu.sf-style-space-orange a:active,
.sf-navbar.sf-style-space-orange li li {
  background: #B7DFF4 !important;
  color: #000000 !important;
}

.sf-menu.sf-style-space-orange a {
  color: #000000 !important;
  text-decoration: none;
}

.sf-menu.sf-style-space-orange a {
  border: none !important;
  border-bottom: 1px outset #ffffff !important;
}

#logo {
  position: absolute;
}

#block-menu-menu-external-links,
#block-menu-menu-diabetes-external-links {
  float: right;
  width: 100%;
}

.da2a_button {
  color: white !important;
}

#block-menu-menu-diabetes-external-links ul,
#block-menu-menu-external-links ul {
  float: right;
}

#sidebar-left ul.sf-menu, #sidebar-left ul.sf-menu li {
  width: 14em;
}

#sidebar-left ul.sf-menu li a {
  line-height: 32px;
}

#block-cacure_mgmt-1 .sub-head {
  display: block;
}

#page div#block-cacure_mgmt-1 {
  width: 700px;
}

span#xf-output-0 {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: #555252;
  padding: 0 0 0 20px;
  line-height: 30px;
  width: 675px;
  display: block;
  z-index: 999;
  top: 0;
}

#xform-block {
  margin: 50px 0 148px;
  padding-left: 0;
  padding-right: 10px;
  width: 685px;
  background: url(images/big-box-gray.png) no-repeat scroll left top transparent;
  color: #333;
}

#header-blocks {
  /*left: 1041px;*/
  /*position: absolute;*/
  width: 355px;
  margin: 26px;
  float: right;
  /*top: 25px;*/
}
#block-print-0 h2.block-title{
  display: none;
}
#header-blocks #block-addtoany-0 {
  margin-top: 3px;
  padding-left: 5px;
}

#header-blocks #block-menu-menu-external-links,
#header-blocks #block-menu-menu-diabetes-external-links {
  margin-right: -7px;
}

#block-nice_menus-1.block-nice_menus {
  width: 635px;
}
#head-grey-block{
  width: 1250px;
}

#block-nice_menus-1 ul.nice-menu-down li ul li ul {
  top: 0;
}

body #sidebar-right .block-content-inner {
  padding: 10px 18px 5px;
}

#content {
  min-width: 900px;
}

body.no-sidebars div#main {
  margin: 0 auto;
  min-height: 500px;
  min-width: 700px;
  padding: 0 15px 10px;
  width: 843px;
  display: block;
}

body.section-site-news div.more-link {
  width: 343px;
}


#content-top #block-print-0 {
  height: 0px;
}

.one-sidebar #content-top #block-print-0 {
  /* margin-right: -16px; */
  height: 16px;
  overflow: hidden;
}

#block-notes-0 {
  float: right;
  margin-bottom: 5em;
  margin-top: 30px;
  min-height: 150px;
  width: 337px;
  background: url('images/grey_box.png') top left no-repeat;
  color: #333;
  position: relative;
  left: 15px;
}

#block-notes-0 h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 0 0 20px;
}

#block-notes-0 h4 {
  border-bottom: 1px solid #CCC;
  font-weight: bold;
  color: #476E30;
}

#block-notes-0 p.line {
  font-size: .786em;
  padding: 0 20px;
  text-align: right;
  height: 20px;
}

#block-notes-0 p.line {
  border-bottom: 1px dotted #CCC;
}

#block-notes-0 p.created {
  display: table-row-group;
  float: right;
  font-size: 11px;
  padding: 0;
  width: auto;
}

#block-notes-0 p.note {
  display: inline;
  float: left;
  line-height: 20px;
  padding: 0;
  width: 227px;
}

#block-notes-0 .content {
  font-size: 12px;
  padding: 5px 20px;
  position: relative;
}
div#block-cacure_mgmt-4 h2.block-title,
div#block-cacure_mgmt-5 h2.block-title,
div#block-block-19 h2.block-title,
div#block-block-18 h2.block-title,
div#block-block-14 h2.block-title{
  display: none;
}
div#block-notes-0 h4{
  margin: 12px 0 0 2px;
}
div#block-notes-0>p{
  margin: 0;
  padding-bottom: 2px;
}
body #sidebar-left .block{
  width: 220px;
}
body #sidebar-right{
  width: 259px;
}
#block-nice_menus-1 a{
  font-size: 1em;
}
/*
#pixture-reloaded #widgetbox_widget_div_0 {
  position: relative;
  left: -20px;
  margin: 5px 0 15px 0;
}
#pixture-reloaded #widgetbox_widget_div_1 {
  position: relative;
  left: -20px;
  margin: 20px 0 15px 0;
} */
.page-about-it-professional-services #content-area {
   position: relative;
   /* top: -20px; */
   width: 95%;
}
.page-about-it-professional-services .panel-col-top .pane-title {
   font-size: 2.5em;

}
#it-professional-services .it-ps-buildings
{
   position: relative;
   float: left;
   padding: 0 10px 10px 0;
}

#it-professional-services .it-professional-services-slogan
{
   position: relative;
   color: #38306E;
   font-size: 1.5em;
   line-height: 1.5;
}

#it-professional-services .it-professional-services-slogan2
{
   position: relative;
   right: -25px;
   color: #38306E;
   font-size: 1.5em;
   line-height: 1.5;
}
#it-professional-services .panel-col-last {
    float: left;
    width: 49.9%;
	position: relative;
}
#it-professional-services .panel-col-top, 
#it-professional-services .panel-col-bottom {
    clear: both;
    width: 90%;
}
#two-steps .one {
  background: url("images/one.png") no-repeat 0px 0px;

}

#two-steps .two {
  background: url("images/two.png") no-repeat 0px 0px;
}
#two-steps .one, #two-steps .two {
   float: right;
}
#two-steps h4.steps {
   position: relative;
   top: -30px;
}
#xform-block .hcit-save-for-later-button {
    background: url("../includes/images/submit.png") no-repeat scroll left top transparent;
    width: 120px;
}
address.rtecenter{
	padding-bottom: 30px;
}
#xform-block .hcit-save-for-later-button button {
    background: url("images/save-for-later-button.png") repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    padding: 0;
    text-decoration: none;
    width: 200px;
}
#xform-block .hcit-save-button-next button {
    background: url("images/submit.png") no-repeat scroll right top transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    padding: 0;
    width: 200px;
}
#xform-block .hcit-save-button-back button {
    background: url("images/submit-right.png") no-repeat scroll right top transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    padding: 0;
    width: 200px;
}
body #block-cacure_mgmt-3 p.form-module-submit.form-module-submit-enabled {
    background: url("images/submit-enabled.png") no-repeat scroll left top transparent !important;
}
#node-3 #consent-submit {
    background: url("images/submit-right.png") no-repeat scroll right top transparent;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
	padding: 3px 30px 20px 20px;
}
.page-my-current-questionnaire #generic-intro,
.page-my-current-questionnaire #general-instructions{
   width: 695px;
   background: url("images/big-box-gray.png") no-repeat scroll left top transparent;
   min-height: 211px;
}
.page-my-current-questionnaire #generic-intro h2,
.page-my-current-questionnaire #general-instructions h4{
   
   background: #555252;
   color: white;
   padding: 5px 0 5px 10px;
}
.page-my-current-questionnaire #generic-intro p,
.page-my-current-questionnaire #general-instructions #left,
.page-my-current-questionnaire #general-instructions #right {
   padding: 0 10px;
}
.page-primary-links-about-healthcare-it-inc #content-area {
   position: relative;
   top: -32px;
}
.page-primary-links-about-hosting .title {
   font-size: 2.5em;
}
.page-primary-links-about-hosting #content-header,
.page-primary-links-about-hosting  #content-area {
   position: relative;
   top: -15px;
}
.page-primary-links-about-hosting .slogan {
   position: relative;
   left: 25px;
   font-size: 1.5em;
   line-height: 1.5;
}
.page-primary-links-about-hosting .slogan2 {
   position: relative;
   left: 110px;
   font-size: 1.5em;
   line-height: 1.5;
}
.page-about-bigr #content-area {
   position: relative;
   /* top: -15px;
   width: 95%; */
   width: 100%;
   overflow: hidden;
   
}
.page-about-bigr .rack-test-tubes,
.page-about-bigr .test-tubes{
   position: relative;
   left: 400px;
}
.page-about-bigr .bigr-image {
   position: relative;
   /* top: -20px; */
}
/*****************/
.page-join-consent #content-header,
.page-join-consent #content-area {
   position: relative;
   top: -10px;
}
.page-join-consent #content-top #block-print-0 {
   position: relative;
  /*  left: 244px; */
}
.page-site-news #content-top #block-print-0 {
   position: relative;
  /*  left: 37px; */
}
.page-faq #content-top #block-print-0 {
   position: relative;
   /* left: 19px; */
}
.section-form #content-top #block-print-0 {
   position: relative;
   /* left: 247px; */
   height: 16px;
}
.page-node-71 #content-top #block-print-0 {
   position: relative;
  /*  left: 238px; */
}
.page-collecting-data #content-top #block-print-0 {
   position: relative;
  /*  left: 152px; */
}
.page-my-account-my-submitted-questionnaires #content-top #block-print-0 {
   position: relative;
  /*  left: 221px; */
}
.page-join-consent #content-area {
   width: 675px !important;
   position: relative;
   top: -190px;
   padding: 0 0 0 10px;
}
.page-join-consent #content-header h1 {
   background: #555252;
   width: 685px !important;
   padding: 5px;
   font-size: 142.85%;
   color: white;
}
.page-join-consent #content-header {
   background: url("images/big-box-gray.png") no-repeat scroll left top transparent;
   width: 695px;
   min-height: 211px;
}
.page-switch-theme #sidebar-right #block-switchtheme-0,
#main #sidebar-right #block-block-73  { /*Demo Overview */
   width: 224px;
}
.page-switch-theme #sidebar-right #block-switchtheme-0 {
   margin-left: 15px;
}
#block-block-73 p { /*Demo Overview */
   text-align: right;
}
.page-adding-questions .form-builder-image {
   display: inline;
}
#node-176 .rtecenter{height: 100%;background: none;}
body.page-my-account-my-submitted-questionnaires #content-header h1{
	background: #555252;
	color: white;
	padding: 5px 5px 5px 10px;
    position: relative;
    top: -3px;
}
body.page-my-account-my-submitted-questionnaires #content-inner{
	width: 695px;
	background: url("images/big-box-gray.png") no-repeat scroll left top transparent;
	min-height: 211px;
	background-position: 0 24px;
}
body.page-my-account-my-submitted-questionnaires #content-area{width: 99%;padding-left: 4px;}
li.leaf {
	padding: 0.2em 0 0 0 !important;
}
.page-withdraw #content-header h1,
.page-node-71 #content-header h1 {
   font-size: 2em;
}
body div#block-cacure_mgmt-1 div.form-element div.text,
body div#block-cacure_mgmt-1 div.form-element div.edit{
  padding-left: 8px;
}
body div#block-cacure_mgmt-1 .sub-head .status{
  right: 64px;
}
body div#block-cacure_mgmt-1 div.form-element div.text.active{
  margin-left: -7px;
}
body #block-cacure_mgmt-3 #submit_questionnaire #button-wrap{
  width: 632px;
}
body #block-cacure_mgmt-3{
  width: 641px;
}
body.page-refer-a-friend span.message{
  font-size: 1.3em;
  color: #555966;
}
.page-cure-suite #content .title {
   display: none;
}

body.page-form-builder-steps .step-1-img,
body.page-form-builder-steps .step-2-img,
body.page-form-builder-steps .step-3-img,
body.page-form-builder-steps .step-4-img {
  float:right;
  padding-left:30px;
}

body.page-form-builder-steps #step-1,
body.page-form-builder-steps #step-2,
body.page-form-builder-steps #step-3,
body.page-form-builder-steps #step-4 {
  clear:both;
  
}

body.page-form-builder-steps #step-2,
body.page-form-builder-steps #step-3,
body.page-form-builder-steps #step-4 {
  padding-top:30px;
}

body.page-form-builder-steps #step-1 h1,
body.page-form-builder-steps #step-2 h1,
body.page-form-builder-steps #step-3 h1,
body.page-form-builder-steps #step-4 h1 {
  padding-bottom:10px;
}


#block-user-0 .item-list ul li {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.page-my-current-questionnaire #block-print-0 {
  left: 238px;
  position: relative;
}

.page-my-current-questionnaire #block-block-18 {
  margin-top: -10px;
}

div#block-cacure_mgmt-1 div.form-element div.text.active {
    background: url("images/list_image.png") no-repeat scroll 0 6px transparent;
}

/*=-Correction Styles For Theme-=*/
    /*=-Correction Styles For Theme Without Forms-=*/
    
/*-----------------------Layout styles correction for general block------------------------------*/
#page {margin-top: 20px; width: 1250px;} /* Fix width for layout */
#main {width: 1220px; left: 0;} /* Correction styles for main container*/
/*-----------------------Layout styles correction for header blocks------------------------------*/
#head-grey-block {height: 120px; position: relative;}
#head-grey-block #logo{position: absolute; top: 0;}
#head-grey-block a{font-weight: normal;}
#head-grey-block #header-blocks {margin: 0; padding: 6px 25px 0 0;}
#head-grey-block .block-content {padding: 0 0 7px !important;}
#head-grey-block .top-user-name {margin: 0; padding: 7px 53px 0 0;}
#head-grey-block .block-nice_menus {padding-top: 88px;}
/*-----------------------Layout styles correction for header blocks------------------------------*/
#block-menu-secondary-links a, #block-menu-menu-external-links ul a, #block-menu-menu-diabetes-external-links ul a {font-weight: normal;}
#block-menu-secondary-links li.last a, #block-menu-menu-external-links ul li.last a, #block-menu-menu-diabetes-external-links ul li.last a {}

/*=-Layout styles correction for general block width one sidebar-=*/
#page #main #content {width: 970px; padding: 0 0 0 15px; }  /* Correction styles content*/
#page #main #sidebar-left {} 

/*=-Layout styles correction for general block width two sidebars-=*/
body.two-sidebars #page #main #content {width: 745px; padding: 0 15px; }  /* Correction styles content*/
body.two-sidebars #page #main #content #content-inner{}  /* Correction styles content*/

/*-----------------------Layout styles correction for general block------------------------------*/
#page {margin-top: 20px; width: 1250px;} /* Fix width for layout */
#page #main {width: 1220px; left: 0;} /* Correction styles for main container*/
#page #main #content {width: 985px; float: left; margin: 0 0 0 0;}  /* Correction styles content*/
#page #main #content #content-inner{padding: 0 0 0 0;}  /* Correction styles content*/
#page #main #content #content-area .center-wrapper {width: 100%; overflow: hidden;}  /* Correction styles content*/
#page #main #sidebar-left {width: 220px; margin: 0 0 0 0; float: left;} 
#page #main #sidebar-right {width: 225px; margin: 0 0 0 0; float: right;} 
#page #sidebar-left .block .block-inner .block-content .block-content-inner{}
#page #sidebar-left .block .block-inner .block-content .block-content-inner ul.block-content-inner {width: 190px; padding: 0;}
#page #sidebar-left .block .block-inner .block-content .block-content-inner ul.block-content-inner li {width: 190px;}
#page #sidebar-left .block .block-inner .block-content .block-content-inner ul.block-content-inner li a{width: 180px; padding: 0 5px;}
#page #sidebar-left .block .block-inner .block-content .block-content-inner ul.block-content-inner li ul{padding: 0 !important; width: 190px !important; }
#page #sidebar-left .block .block-inner .block-content .block-content-inner ul.block-content-inner li ul li {background: #f1f1f1 !important;}
#page #sidebar-left .block .block-inner .block-content .block-content-inner ul.block-content-inner li ul li a{background: #f1f1f1 !important; padding: 0 5px 0 15px !important; width: 170px !important;}
#page #sidebar-left .block .block-inner .block-content .block-content-inner ul.block-content-inner li ul li a:hover{background: #b7dff4 !important;}
    
    
/*=-Layout corrections to full screen width for pages with forms-=*/

/*-----------------------Layout styles correction for general blocks------------------------------*/
#page.page-forms {width: 99%; max-width: 99%;} /* Full screen width layout */ 
#page.page-forms #head-grey-block {width: 100%; margin: 0 auto;} /* Fixed width for header and centered content part */
#page.page-forms #main {width: 100%; padding: 0;} /* Correction styles for main container*/
#page.page-forms #main  #sidebar-left {width: 220px; margin: 0 0 0 15px; float: left;} /* Correction styles for main container*/
#page.page-forms #main #content {width: 100%; padding: 0; margin-left: -235px;}
#page.page-forms #main #content #content-inner{margin-left: 250px;}
/*-----------------------Styles and fixed width for left menu-------------------------*/
#page.page-forms #sidebar-left .block {width: 220px; overflow: hidden;}
#page.page-forms #sidebar-left .block .block-inner{width: 220px; overflow: hidden;}
#page.page-forms #sidebar-left .block .block-inner .block-content{width: 220px; overflow: hidden; padding: 0 0 10px;}
#page.page-forms #sidebar-left .block .block-inner .block-content .block-content-inner{width: 200px; overflow: hidden; padding: 0 10px 5px;}

/*-----------------------Fix for stretching forms layout-------------------------*/
#page.page-forms {}
#page.page-forms #content-area{padding-right: 15px;}
/*-----------------------Forms Layout-------------------------*/
#page.page-forms #main  #main-inner #content-group {width: 100%;} 
#page.page-forms #main  #main-inner #content-group #block-print-0 {left: auto; top: 8px;} 

/*-----------------------Forms Inner Items-------------------------*/
#page.page-forms #xform-block {width: 100%; overflow: hidden; margin: 0; padding: 0;}
#page.page-forms #xform-block.auto-width {background: url("images/full-width-box-border.png") left top no-repeat}
#page.page-forms #xform-block.auto-width .xform-block-inner { background: url("images/full-width-box-border.png") right top no-repeat; width: 100%; overflow: hidden;}
#page.page-forms #xform-block #xf-output-0 {width: auto; margin-left: 0;}
#page.page-forms #xform-block .xforms-group {padding: 0 10px; width: 98%;}
#page.page-forms #xform-block .xforms-group .hcit-group-input-radio table.hcitSimpleTable {padding: 0 10px; width: 98%;}
#page.page-forms #xform-block .xforms-group .hcit-save-for-later-button, #page.page-forms #xform-block .xforms-group .hcit-save-button, #page.page-forms #xform-block .xforms-group .hcit-decline-action-button, #page.page-forms #xform-block .xforms-group .hcit-submit-action-button, #page.page-forms #xform-block .xforms-group .hcit-approve-action-button {width: auto;}
#page.page-forms #xform-block .xforms-group .hcit-save-for-later-button button, #page.page-forms #xform-block .xforms-group .hcit-submit-action-button  button, #page.page-forms #xform-block .xforms-group .hcit-approve-button  button {width: auto; min-width: 200px; height: 23px; line-height: 23px; font-size: 11px; font-weight: bold; border: 0; padding: 0 15px; border: 0;}

#page.page-forms #xform-block .xforms-group .hcit-save-for-later-button{width: auto;}
   