/****************************/
/* Color CSS                */
/****************************/

/* Put your custom CSS and CSS overrides for look and color         */
/* in this file and rename it color.css.  By restricting your       */
/* CSS color changes to color.css, your changes will not be         */
/* overwritten when upgrading to a new version of this theme.       */
/*                                                                  */

/*  Preface Regions
-------------------------------------------------------------- */
html {
  background: none repeat scroll 0 0;
}

p {
  color: #333333;
  font-family: "Arial", sans-serif;
}

div.full-node .inner .content {
  border-bottom: none;
}

.font-size-12 {
  color: #333333;
}

#header-top-wrapper {
  background: none repeat scroll 0 0 #E1E1E1;
  border-bottom: 1px solid #CCCCCC;
}

#site-name a:link, #site-name a:visited, #site-name a:hover, #site-name a:active {
  text-decoration: none;
  color: #38306E;
}

a, a:link, a:visited {
  color: #476E30;
}

a.notes-add-note-link {
  color: #ffffff;
}

.preface-top-wrapper {
  background: #38306E url(../images/preface-wrapper-bg-1.png) repeat-x 0 0;
  color: #fff;
}

.preface-top a:link,
.preface-top a:visited {
  color: #fff;
  text-decoration: underline;
}

h2.user-name {
  color: #929296;
}

h2.user-name a {
  color: #929296;
  font-weight: bold;
}

/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */

.main-wrapper {
/*  background: #f5f7e7 url(../images/content-gradient.png) repeat-x 0 1px; */
  background: #FFFFFF;
}

.content-inner-inner .content-content .inner .content ul li {
  background: url("../images/list_image_alt.png") no-repeat scroll 0 2px transparent;
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-bottom-wrapper {
  background: #144A6E url(../images/preface-wrapper-bg.png) repeat-x 0 0;
  color: #fff;
}

.postscript-bottom-wrapper a:link,
.postscript-bottom-wrapper a:visited {
  color: #fff;
  text-decoration: underline;
}

#footer-wrapper {
  background: #E1E1E1;
}

#footer-message-wrapper {
  background: none repeat scroll 0 0 #FFFFFF;
}

.footer-message {
  border-top: 1px solid #D6DDB9;
}

/* Header  */

/*  This is the background for the empty block Header & Sub Page Header*/
/*
#block-block-5
{
	background: url('../images/header.jpg') top right no-repeat;
}*/
/* End Block 5 */

/* End Header  */

/*Home Page */

/* Sidebars */
.sidebar-first, .sidebar-last {
  font-family: "Arial", sans-serif;
}

/*
.page-home .sidebar-first div[id^="block"],
.page-home .sidebar-last div[id^="block"]/*  For any side modules with the gray bar fade
{
  background: url('../images/hp_module_bg_gray.png') repeat-x top left;
}
*/
/* End Sidebars */

/* Login block on home page */
.sidebar-first #block-user-0 /* Home Page Login w/ Deep Red BG */
{
  background: #476E30;
}

.sidebar-first #block-user-0 h2 /* HP Login Header */
{
  color: #fff;
}

#user-login-form label {
  color: #FFFFFF;
}

#user-login-form label .form-required /* The required asterix */
{
  color: #FFFFFF;
  font-weight: bold;
}

#user-login-form a {
  color: #FFFFFF;
}

#block-user-0 p.case-msg {
  color: #FFFFFF;
}

.messages.error, messages.warning {
  background: #FFFFFF;
  font-weight: bold;
}

/* End login block on Home Page */

/* This is for the members counter block*/
#counter {
  background: url('../images/counter.png') top left no-repeat;
  color: #fff;
}

/* End Counter */

/**********************  Center Promotional Region on Home Page ****************************/

. page-home #content-group .views-row p {
  font-family: "Arial", sans-serif;
  color: #333333;
}

.page-home .views-row-even, .page-home .views-row-odd {
  border-bottom: solid 1px #ccc;
}

.page-home .views-row-last {
  border-bottom: none;
}

/**********************  End Center Promotional Region on Home Page ****************************/
/****************  Blog Box HP ******************************/

.sidebar-last #block-views-Member_Comments-block_1 {
  background: url('../images/blog_block_bg.png') top right no-repeat;
}

.sidebar-last #block-views-Member_Comments-block_1 h2 /* Changes Header Color to Green */
{
  color: #476E30;
}

.sidebar-last #block-views-Member_Comments-block_1 .content {
  font-style: italic;
}

/* End Home Page */

/* Have Suggestions Block */

.sidebar-first #block-block-8 {
  background: url('../images/hp_module_bg_gray.png') repeat-x top left;
}

/* Primary Menu
/-------------------------------------------------------------- */

#primary-menu ul.menu {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

#primary-menu ul.menu li {
  background: transparent url(../images/tab-left.png) no-repeat 0 0;
}

#primary-menu ul.menu li a:link,
#primary-menu ul.menu li a:visited {
  background: transparent url(../images/tab-right.png) no-repeat 100% 0;
  color: #38306E;
  text-decoration: none;
}

/* Second level - Hovers for parent menu item */
#primary-menu ul.menu li a:hover,
#primary-menu ul.menu li:hover a:link,
#primary-menu ul.menu li:hover a:visited,
#primary-menu ul.menu li.hover a:link,
#primary-menu ul.menu li.hover a:visited,
#primary-menu ul.menu li.active-trail a:link,
#primary-menu ul.menu li.active-trail a:visited {
  background-position: 100% -29px;
  color: #fff;
}

#primary-menu ul.menu li:hover,
#primary-menu ul.menu li.hover,
#primary-menu ul.menu li.active-trail {
  background-position: 0 -29px;
}

/* Second level */
#primary-menu ul.menu li:hover ul.menu,
#primary-menu ul.menu li.hover ul.menu,
#primary-menu ul.menu li.sfHover ul.menu {
  background: transparent url(../images/drop-bottom.png) no-repeat 0 100%;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  text-transform: none;
  opacity: 0.95;
  filter: alpha(opacity = 95);
}

#primary-menu ul.menu li:hover ul.menu li,
#primary-menu ul.menu li.hover ul.menu li,
#primary-menu ul.menu li.sfHover ul.menu li {
  background: #476E30;
  border-bottom: 1px solid #FFFFFF;
}

#primary-menu ul.menu li:hover ul.menu li.last,
#primary-menu ul.menu li.hover ul.menu li.last,
#primary-menu ul.menu li.sfHover ul.menu li.last {
  border-bottom: 0;
}

#primary-menu ul.menu li ul.menu li a:link,
#primary-menu ul.menu li ul.menu li a:visited {
  background: #476E30;
  color: #BFC983;
}

#primary-menu ul.menu li ul.menu li a:hover {
  color: #fff;
}

#primary-menu ul.menu li ul.menu li a.active {
  text-decoration: underline;
}

/* Third level */

/* Primary menu - Nolink */
#primary-menu ul.menu li span.nolink {
  background: transparent url(../images/tab-right.png) no-repeat 100% 0;
  color: #38306E;
  text-decoration: none;
}

#primary-menu ul.menu li span.nolink:hover,
#primary-menu ul.menu li span.nolink.hover,
#primary-menu ul.menu li:hover span.nolink,
#primary-menu ul.menu li.hover span.nolink,
#primary-menu ul.menu li.active-trail span.nolink {
  background-position: right -46px;
  color: #fff;
}

#primary-menu ul.sf-menu li.sfHover ul.menu li span.nolink,
#primary-menu ul.menu li:hover ul.menu li span.nolink,
#primary-menu ul.menu li.hover ul.menu li span.nolink {
  background: #476E30;
  color: #38306E;
}

#primary-menu ul.menu li:hover ul.menu li span.nolink:hover,
#primary-menu ul.menu li.hover ul.menu li span.nolink.hover {
  color: #fff;
}

/************************************************************/
/*                Secondary Navigation                      */
/************************************************************/
/***  Includes Styles for Header Secondary Nav, Header Ext Links,
Footer Secondary Nav, Footer Terms and Policy   ***/

#block-menu-secondary-links li, ul.secondary-links li,
div[ id$="terms-and-privacy"] li {
  border-right: 1px solid #b3b3b7;
}

div[ id$="terms-and-privacy"] li {
  border-right: none;
}

div[ id$="terms-and-privacy"] li.first {
  border-left: 1px solid #b3b3b7;
}

.logged-in #block-menu-secondary-links li {
  /*border-left: 1px solid #b3b3b7;
  border-right: 1px solid #b3b3b7;*/
}

.not-logged-in #block-menu-secondary-links li {
  border-left: none;
  border-right: 1px solid #b3b3b7;
}

.not-logged-in #block-menu-secondary-links li.first {
  border-right: 1px solid #b3b3b7;
}

ul.secondary-links li.last, #block-menu-menu-external-links li.last,
div[ id$="terms-and-privacy"] li.last {
  border-left: none;

}

.logged-in #block-menu-secondary-links li.last {
  border-left: none;
  border-right: 1px solid #b3b3b7;
}

ul.secondary-links li.menu-737 a {
  color: #1152d4;
}

#block-menu-menu-footer-links li {
  border-right: 1px solid #b3b3b7;
}

/*End Secondary Navigation */

/**********************  Quicklink Navigation *************/

.sidebar-first #block-menu-menu-my-account-quicklinks {
  background: #fff url('../images/small-box-blue.png') top left no-repeat;
}

#block-menu-menu-my-account-quicklinks h2 {
  color: #476E30;
}

#footer_inner {
  background: #f0f0f0;
}

#footer {
  color: #929296;
}

/********Links********************/
a {
  color: #1152d4;
  text-decoration: none;
  font-weight: normal;
}

.block.left a, block.right a {
  font-weight: bold;
}

/*************  Headers ****************************/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #476E30;
  font-family: "Arial", sans-serif;
}

h1 /* Reserved for very top of the Page or Node Titles */
{
  color: #476E30;
}

h1.title {
  border-bottom: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #38306E;
}

.page-home h1 {
  color: #38306E;
}

h2.title {
  border-bottom: none;
  clear: left;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #476E30;
}

.block h2 /* Headers for block have less padding */
{
  text-transform: none;
}

h3 /*Gray version of h1 */
{
  color: #929296;
}

h4, h2.pane-title /* Green Verison of h1 */
{
  color: #38306E;
}

h5 /* Smaller Grey Version */
{
  color: #38306E;
}

h6, h6 a /* Smaller Green Version */
{
  color: #546308;
  font-weight: bold;
}

/* Cheats for the Admins */

.black {
  color: #333333;
}

.grey {
  color: #929296;
}

.green {
  color: #7c9c22;
}

.pink {
  color: #ec068d;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.square {
  background: url(../images/list_image_alt.png) no-repeat 20px 4px;
}

.block p {
  color: #333333;
}

.rteright a {
  font-weight: bold;
}

/***********************  Font Size Control Styles *************/

#text_change {
  color: #006CAB;
}

#text_change a {
  color: #006CAB;
}

#text_change a.current {
  color: #05a2fd;
}

/* This is positioning on the My Current Questionnaire page */
img.print-icon {
  background: url('../images/printer.png') top left no-repeat;
}

/*End of Placement and spacing printer icon */

/*****************************************************************************/
/*                                    News Page Styling                      */
/*****************************************************************************/

.view-how-news-news-articles .views-field-title {
  font-weight: bold;
}

.how-news .views-field-title {
  font-weight: bold;
}

.how-news .panel-col-first .views-field-title a,
.how-news .panel-col-last .views-field-title a {
  font-weight: bold;
}

.views-field-field-source-value {
  font-style: italic;
}

/*****************************************************************************/
/*                                   My How Account                          */
/*****************************************************************************/

/************************  My Account Landing Page ***************************/

#two-steps p span {
  color: #333333;
}

#two-steps h4.steps {
  font-weight: normal;
  color: #999999;
}

#two-steps .one {
  background: url("../images/one-blue.png") no-repeat 0px 0px;

}

#two-steps .two {
  background: url("../images/two-blue.png") no-repeat 0px 0px;
}

/************** Next Questionnaires **********************/

#block-block-19 h2 {
  color: #333333;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

/**************  My Health Notes Mini Version ***********/
#block-notes-0 {
  background: url('../images/grey_box.png') top left no-repeat;
  color: #333333;
}

#block-notes-0 h4 {

  border-bottom: 1px solid #CCCCCC;
  font-weight: bold;
  color: #476E30;
}

#block-notes-0 p.line {
  border-bottom: 1px dotted #CCCCCC;
}

#block-notes-0 .note a {
  font-weight: bold;
}

/*****************************************************************************/
/*                                   My Health Notes                         */
/*****************************************************************************/

.main-note .date, .note-created {
  font-style: italic;
}

.main-note a .note-title {
  font-weight: bold;
}

/*******************   My Current Questionairre Landing Page ************/

#general-instructions {
  background: #f7f7f7;
  border-top: 1px solid #CCCCCC;
  color: #999999;
}

#clear-block {
  clear: both;
}

/*********************** My Current Questionnaire ****************/

#remember {
  border-top: 1px solid #CCCCCC;
}

#remember li {
  color: #476E30;
}

#remember li span {
  color: #333333;
}

/*****************  My Account Info *************/

.page-user ul.secondary {
  border-bottom: #929296 dotted 1px;
  border-top: #929296 solid 1px;
}

.page-user ul.secondary li {
  border-right: none;
}

.page-user ul.secondary a.active {
  border-bottom: none;
  color: #929296;
}

.page-user ul.secondary a {
  font-weight: bold;
  border-right: 1px solid #929296;
}

.page-user ul.secondary li:last-child a {

}

/*****************************  Browser Download Icons ********************/

#browser img {
  border: none;
}

#block-menu-menu-about-study h2.title,
#block-menu-menu-research-team h2.title,
#block-menu-menu-join-now h2.title,
#block-menu-menu-account-links h2.title,
#block-menu-menu-pvt-account h2.title {
  color: #38306E;
}

#block-menu-menu-about-study ul.menu li a:link,
#block-menu-menu-research-team ul.menu li a:link,
#block-menu-menu-join-now ul.menu li a:link,
#block-menu-menu-account-links ul.menu li a:link,
#block-menu-menu-pvt-account ul.menu li a:link {
  color: #38306E;
}

#block-menu-menu-about-study ul.menu li a:visited,
#block-menu-menu-research-team ul.menu li a:visited,
#block-menu-menu-join-now ul.menu li a:visited,
#block-menu-menu-account-links ul.menu li a:visited,
#block-menu-menu-pvt-account ul.menu li a:visited {
  color: #476E30;
}

#block-menu-menu-about-study li.active,
#block-menu-menu-about-study li.active-trail-0,
#block-menu-menu-research-team li.active,
#block-menu-menu-research-team li.active-trail-0,
#block-menu-menu-join-now li.active,
#block-menu-menu-join-now li.active-trail-0,
#block-menu-menu-account-links li.active,
#block-menu-menu-account-links li.active-trail-0,
#block-menu-menu-pvt-account li.active,
#block-menu-menu-pvt-account li.active-trail-0 {
  background: url("../images/list-images.png") no-repeat scroll 5px 4px transparent;
}

#block-xforms-0 .content {
  background: url("../images/box-big-blue.png") no-repeat scroll left top transparent;
}

/************************************************************/
/*              Forms Styles                                */
/************************************************************/

/********************Globals*********************************/

form input.form-submit {
  background: url("../images/button.png") repeat-x scroll 0 0 transparent;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* Applys to all forms throughout site */
fieldset {
  border: hidden;
}

input[type="radio"] {
  border: none;
}

form {
  color: #999999;

}

.form-required /* The required asterix */
{
  color: #476E30;
  font-weight: bold;
}

/*Makes all Elements with ID ending in 'submit' into  Blue Arrow Button */
input[type="submit"],
input[type="button"],
#consent-submit,
a#start,
a.notes-add-note-link,
form#block-admin-display-form a,
#withdraw-form #edit-submit,
form#block-admin-display-form a,
a.submit {
  color: #fff;
  background: url('../images/xforms/submit-right.png') top right no-repeat;
  border: none;
  font-weight: bold;
}

.user-register h1 {
  background-color: #38306E;
  color: #FFFFFF;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  max-width: 675px;
  padding: 0 0 0 20px;
  width: 675px;
}

.user-register #content-inner-inner {
  background: url("../images/box-big-blue.png") no-repeat scroll left top transparent;

}

#user-register #edit-submit {
  color: #fff;
  background: url('../images/xforms/submit-right.png') top right no-repeat;
  border: none;
  font-weight: bold;
  text-transform: none;
  width: 100px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 5px 10px 0;
}

.notes-add #notes-form-add #edit-submit,
.notes-add #notes-form-add #edit-cancel,
#user-register #edit-cancel {
  color: #fff;
  background: url('../images/xforms/submit-right.png') top left no-repeat;
  border: none;
  font-weight: bold;
  text-transform: none;
  width: 100px;
  font-family: Arial, sans-serif;
  font-size: 11px;
}

.notes-delete-26 #notes-form-delete #edit-submit,
.notes-delete-26 #notes-form-delete #edit-cancel,
.notes-add #notes-form-add #edit-submit,
.notes-add #notes-form-add #edit-cancel {
  color: #fff;
  background: url('../images/xforms/submit-right.png') top right no-repeat;
  border: none;
  font-weight: bold;
  text-transform: none;
  width: 100px;
  font-family: Arial, sans-serif;
  font-size: 11px;
}

#withdraw-form #edit-cancel {
  color: #fff;
  background: url('../images/xforms/submit-right.png') top right no-repeat;
  border: none;
  font-weight: bold;
}

#submit_questionnaire h2 {
  color: #FFFFFF;
  background: #38306E;
}

#submit_questionnaire a.submit {
  background: url('../images/xforms/submit-right.png') top center no-repeat;
  color: #FFFFFF;
}

form#block-admin-display-form a, form#block-admin-display-form {
  background-position: center;
}

input[value="Withdraw from Study"] {
  background: none;
  color: #007FBC;
  font-family: inherit;
}

.form-item label {
  color: #333333;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/************  Undo Styles for Admin Forms *****************/

form label .form-required {
  font-weight: bold;
}

/******************* Log-In Form and User Password Recovery *****************************/

form#user-login, form#user-pass {
  background: #FFFFFF url('../images/contact_form_bg.png') no-repeat scroll left top;
}

#user-login  #edit-submit {
  color: #fff;
  background: url('../images/xforms/submit-right.png') top right no-repeat;
  border: none;
  font-weight: bold;
}

#user-login input[type="text"], #user-login input[type="password"] {
  background: #fff;
  border: 1px solid #ccc;
}

/**********  Password Strength Meter **************************/

.password-strength {
  border: 1px solid #cccccc;
}

.password-result {
  opacity: .7;
  filter: alpha(opacity = 70);
}

.password-result.ok {
  color: #ffffff;
  font-weight: bold;
  background-color: #008000;
}

.password-result.warning {
  color: #ffffff;
  font-weight: bold;
  background-color: #e09010;
}

.password-result.error {
  color: #ffffff;
  font-weight: bold;
  background-color: #ee5555;
}

/******************* Contact Form, Refer a Friend, Health Note Forms****************************/
/* Contact Form  is node-52  */
/* my-health-notes may not be used */
/* refer-a-friend is currently disabled  */

#node-52 p, #refer-a-friend-form p, #my-health-notes p {
  color: #666666;
}

form#notes-form-edit input.form-submit {
  background: url("../images/xforms/submit-right.png") no-repeat scroll right top transparent;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
}

#node-52 form, form#refer-a-friend-form, #my-health-notes form, #withdraw-form {
  background: url('../images/contact_form_bg.png') no-repeat scroll left top;
}

#node-52 .form-item label, #refer-a-friend-form .form-item label, #my-health-notes .form-item label, #withdraw-form label {
  color: #666666;
}

#node-52 input[id$="submit"] /* Contact Submit Button */
{
  background: url('../images/xforms/submit-right.png') top right no-repeat;
  font-weight: bold;
}

#node-52 input[type="text"], #refer-a-friend-form input[type="text"], #my-health-notes input[type="text"] {
  background: #fff;
  border: 1px solid #ccc;
}

/*  Contact Radio Buttons **/
#refer-a-friend-form input {
  background: url("../images/xforms/submit-right.png") no-repeat scroll right top transparent;
  border: medium none;
  font-weight: bold;
}

/************************ CAPTCHA Styling *******************/
img[title="Image CAPTCHA"] {
  border: 1px solid #ccc;
}

/********************************************************************************/
/*                      Registration Form                                       */
/********************************************************************************/

.user-register #content-tabs {
  background-color: transparent;
}

#consent_options {
  font-weight: bold;
  text-transform: capitalize;
}

/**********Consent Page **********************/
/*Consent form is node-46 */

#node-46, #form-wrap, #generic-intro {
  background: url('../images/box-big-blue.png') top left no-repeat;
}

.form-req span {
  color: #476E30;
}

.join-consent h1, #form-wrap h1, #generic-intro h2 /* Creates  Bar Header*/
{
  color: #FFFFFF;
  background-color: #38306E;
}

#generic-intro h4 {
  border-bottom: 1px solid #CCCCCC;
}

form#user-profile-form .form-submit {
  background: url("../images/xforms/submit-right.png") no-repeat scroll right top transparent;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
}

#user-register fieldset, #user-profile-form fieldset {
  border: hidden;
}

#user-register fieldset legend span, form#user-profile-form fieldset legend span {
  color: #476E30;
  font-weight: bold;
  border: hidden;
}

form#user-profile-form fieldset.collapsible {
  background: none;
}

#user-register fieldset.fieldset_personal_info {
  border: none;
}

#user-register fieldset.fieldset_contact_info,
#user-register fieldset.fieldset_account,
#user-register fieldset.light-border,
form#user-profile-form fieldset {
  background: url('../images/grey_box_big.png') top left no-repeat;
  border: none;
}



/************  Info Page  ************************************/

/*** Tab Navigation Styling *****/

form#user-register label, form#user-profile-form label {
  color: #333333;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

form#user-register input[type="text"], form#user-register input[type="password"], form#user-profile-form input[type="text"], form#user-profile-form input[type="password"] {
  background: #fff;
  border: 1px solid #ccc;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #AA1144;
  color: #EE5555;
}

/*  Styling for shorter text fields */

form#user-register input[value="Cancel"] {
  background: url(../images/xforms/submit-right.png) no-repeat -50px 0;
}

/* Select User Name and Passwords Styles **/
/*
form#user-register #edit-pass-wrapper
 {
	 border-bottom:dotted 1px #CCC;
}
*/
form#user-profile-form #edit-name-wrapper .description,
form#user-profile-form #edit-mail-wrapper .description,
form#user-profile-form #edit-pass-wrapper .description {
  color: #333333;
}

form#user-register #edit-name-wrapper .description {
  color: #333333;
}

form#user-register #edit-pass-wrapper .description {
  color: #333333;
}

/*form#user-register #edit-pass-wrapper .description, */

form#user-profile-form #edit-pass-wrapper .description li, form#user-register #edit-name-wrapper .description li, form#user-register #edit-pass-wrapper .description li, form#user-profile-form #edit-name-wrapper .description li {
  background: transparent url(../images/green-list.png) no-repeat left 5px;
}

form#user-register .description h3, form#user-profile-form h3 {
  color: #333333;
}

fieldset.captcha .description {
  color: #333333;
}

fieldset.captcha {
  border: none;
}

/* password Error Warning */

.password-description.warning, .password-description.error, .messages.error, .messages.warning, #username_validation_error {
  border: none;
  background: #fff;
  color: #cc0000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.password-description.warning ul, .password-description.warning li, .error li {
  font-weight: bold;
}

div.messages.status, .refer-a-friend-success {
  color: #cc0000;
  font-weight: bold;
}

/************  Modal Window for Errors/More Info ***************/

.ui-dialog-content.ui-widget-content {
  font-family: 'Myriad', Arial, sans-serif;
}

.sidebar-first .ui-widget-overlay, .sidebar-last .ui-widget-overlay {
  background: #333333;
  opacity: 0.5;
}

/******* Congrats Page *********************/

#make-a-difference-now p.last {
  border-top: 1px solid #CCCCCC;
}

/*** Submit Questionnaire ***********************************/

.submit-questionnaire div#block-management-0 .finish .here {
  font-weight: bold;
}

.submit-questionnaire #remember span.check {
  background: url("../images/box_checked.png") center right no-repeat transparent;
}

/************************************************************/
/*              jQuery Radio and Checkbox Styles            */
/************************************************************/

label.checkbox span.holder {
  background: url(../images/checkbox.gif) 0 -1px no-repeat; /* Path to your checkbox image */
}

label.radio span.holder {
  background: url(../images/radio.gif) 0 -1px no-repeat; /* Path to your radio button image */
}

/* From the custom module css  */
div#block-cacure_mgmt-1 div.element-header div.module-name,
div#block-cacure_mgmt-2 div.element-header div.module-name {
  border-bottom: 1px dotted #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

body#pid-join-consent .ui-state-hover,
body#pid-join-consent .ui-widget-content .ui-state-hover,
body#pid-join-consent .ui-widget-header .ui-state-hover,
body#pid-join-consent .ui-state-focus,
body#pid-join-consent .ui-widget-content .ui-state-focus,
body#pid-join-consent .ui-widget-header .ui-state-focus {
  color: #3F3F3F;
  border: 1px solid #3F3F3F;
}

.ui-widget-content .ui-icon {
  background-image: url(/misc/jquery-ui/css/ui-lightness/images/ui-icons_222222_256x240.png);
}

#xform-block .hcit-save-for-later-button button {
  background: url(../images/xforms/save_for_later.png);
}

#xform-block .hcit-save-button-next button {
  background: url(../images/xforms/submit-right.png);
}

#xform-block .hcit-save-button-back button {
  background: url(../images/xforms/submit-left.png);
}

#block-cacure_mgmt-3 .form-module-submit-enabled {
  background: url(../images/mgmt/submit_big.png) top left no-repeat transparent;
}

body a, body a:link, body a:visited {
  color: #476E30;
}

div#block-cacure_mgmt-1 div.element-header div.module-name {
  color: #38306E;
}

div#block-cacure_mgmt-1 a,
div#block-cacure_mgmt-2 a {
  font-size: 12px;
  font-weight: bold;
}

div#block-cacure_mgmt-1 div.form-element div.text.active {
  background: url("../images/mgmt/list_image.png") no-repeat scroll 0 6px transparent;
}

.my-how-overview div#block-cacure_mgmt-1 .sub-head .status {
  color: #929296;
  font-size: 10px;
}

div#block-cacure_mgmt-1 div.form-element div.text.active a {
  color: #333333;
}

div#block-cacure_mgmt-1 div.form-element div.text.active + div.image + div.edit a {
  color: #333333;
}

div#block-cacure_mgmt-1 div.form-element div.text .hcit-questionnaire-part-number {
  color: #999999;
}

.my-how-overview div#block-cacure_mgmt-1 .sub-head {
  border-bottom: 1px solid #CCCCCC;
}

div#block-cacure_mgmt-1 div.element-header div.module-name .hcit-questionnaire-comment {
  font-size: 11px;
  color: #333333;
}

span#xf-output-0 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #38306E;
  display: none;
}

#xform-block {
  /*background: url("../images/xforms/pink_box_big.png") no-repeat scroll left top transparent;*/
  color: #333333;
}

#pid-notes a.notes-add-note-link {
  color: #fff;
}
/*#block-menu-menu-diabetes-external-links li*/
/*{*/
  /*border-right: 1px solid #b3b3b7;*/
/*}*/
/*#block-menu-menu-diabetes-external-links li.last*/
/*{*/
  /*border-left: none;*/

/*}*/

/*#block-menu-menu-external-links li.last,*/
/*#block-menu-menu-diabetes-external-links li.last {*/
  /*border-right: none;*/

/*}*/

#block-menu-menu-external-links li,
#block-menu-menu-diabetes-external-links li {
  border-left: none;
  border-right: 1px solid #b3b3b7;
}

#block-menu-menu-external-links li.last,
#block-menu-menu-diabetes-external-links li.last {
  border: none;
}


.front .sign-in-instructions .user-sign-in-text
{
   font-family: "Arial",sans-serif;

}
span.status #st-def-form{
  background: url("../images/box_checked.png");
  height: 14px;
  width: 13px;
}
span.status .st-text,
span.status #st-def-form{
  float: left;
}
.marina-title-rounded-blue h2.block-title 
{
    background: none repeat scroll 0 0 #38306E;
}
/* Overide Superfish menu colors for Space - Orange*/

.sf-menu.sf-style-space-orange a {
  border: 1px outset #000000;
  color: #f1f1f1;
}
.sf-navbar.sf-style-space-orange a {
  border: 0;
}
.sf-menu.sf-style-space-orange li,
.sf-menu.sf-style-space-orange li li,
.sf-menu.sf-style-space-orange li li li,
.sf-navbar.sf-style-space-orange {
  background: #476e30;
}
.sf-menu.sf-style-space-orange li:hover,
.sf-menu.sf-style-space-orange li.sfHover,
.sf-menu.sf-style-space-orange li.active a,
.sf-menu.sf-style-space-orange a:focus,
.sf-menu.sf-style-space-orange a:hover,
.sf-menu.sf-style-space-orange a:active,
.sf-navbar.sf-style-space-orange li li {
  background: #255444;
  color: #ffffff !important;
}
.sf-navbar.sf-style-space-orange li ul {
  background-color: #255444;
  width: 100%;
}
.sf-navbar.sf-style-space-orange li ul li ul {
  background-color: transparent;
}
/* End Superfish menu colors  */
body#pid-cure-suite #node-174 h1 {
   font-size: 183.3%;
   color: #38306E;
}
div#block-cacure_mgmt-4 h2 {
    color: #476E30;
}