/* $Id: password_strength.css,v 1.3.4.1 2009/08/13 21:51:49 jrbeeman Exp $ */

input.password-field {
  margin-left: 10px;
  margin-right: inherit;
}
input.password-confirm {
  margin-left: 10px;
  margin-right: inherit;
}
.warning {
  color: #e09010;
}
div.warning {
  border: 1px solid #f0c020;
}
.ok {
  color: #008000;
}
div.ok {
  border: 1px solid #00aa00;
}
div.ok, tr.ok {
  background: #dfd;
  color: #020;
  padding: 2px;
}

/*
** Password strength indicator
*/
span.password-strength {
  visibility: hidden;
}
span.password-title {
  font-weight: bold;
}
input.password-field {
  margin-right: 10px; /* LTR */
}
div.password-description {
  padding: 0 2px;
  margin: 4px 0 0 0;
  font-size: 0.85em;
  max-width: 500px;
}
div.password-description ul {
  margin-bottom: 0;
}
.password-parent {
  margin: 0 0 0 0;
}
/*
** Password confirmation checker
*/
input.password-confirm {
  margin-right: 10px; /* LTR */
}
.confirm-parent {
  margin: 5px 0 0 0;
}
span.password-confirm {
  visibility: hidden;
  font-weight: bold;
}
span.password-confirm span {
  font-weight: normal;
}