/*
Action buttons and comments 
*/
.hcit-save-for-later-button-comment, .hcit-save-button-back-comment, .hcit-save-button-next-comment, .hcit-decline-action-comment, .hcit-submit-action-comment, .hcit-approve-action-comment {font-size: 10px; color: #666;}
.hcit-save-button button, .hcit-save-for-later-button button, .hcit-decline-action-button button, .hcit-approve-action-button button, .hcit-submit-action-button button {background: #38306e; border: 1px solid #7e78a9; padding: 0 5px; line-height: 22px; font-size: 14px; cursor: pointer; }

 .hcit-save-button button {
    background: url("./images/submit.png") repeat scroll 0 0 transparent;
    color: #ffffff;
}

.hcit-save-for-later-button button {
    background: url("./images/submit.png") repeat scroll 0 0 transparent;
    color: #ffffff;
}

.hcit-save-for-later-button-comment {
    text-align: center;
}

.hcit-save-button-back button {
    background: url("./images/submit-right.png") repeat scroll 0 0 transparent;
    color: #ffffff;
    width: 200px;
}

.hcit-save-button-back-comment {
    text-align: center;
}

.hcit-save-button-next button {
    background: url("./images/submit-left.png") repeat scroll 0 0 transparent;
    color: #ffffff;
    width: 200px;
}

.hcit-save-button-next-comment {
    text-align: center;
}

.hcit-decline-action-button button {
    background: url("./images/submit.png") repeat scroll 0 0 transparent;
    color: #ffffff;
    position: absolute;
    left: 410px;
}

.hcit-decline-action-comment {
    text-align: center;
}

.hcit-approve-action-button button {
    background: url("./images/submit.png") repeat scroll 0 0 transparent;
    color: #ffffff;
    position: absolute;
    left: 310px;
}

.hcit-approve-action-comment {
    text-align: left;
    position: absolute;
    left: 0px;
    width: 300px;
    font-weight: bold;
    color: maroon;	
}

.hcit-submit-action-button button {
    background: url("./images/submit.png") repeat scroll 0 0 transparent;
    color: #ffffff;
}

.hcit-submit-action-comment {
    text-align: center;
}
/*-------------------------------------------------------------------*/
#main-wrapper.main.row.grid16-16 {width: 98%; margin: 0 auto;}
/*-----------------Custom Styles--------------------------------------------------*/
.main-wrapper {text-align: left;}
.main.grid16-16, .main-wrapper .main-inner {width: 98%;}

/*-----------------generic-intro--------------------------- -----------------------*/
.main-group.grid16-16 .content #generic-intro {background: url(../images/box-big-blue-w1000.png) no-repeat; width: 1000px; overflow: hidden;}
.main-group.grid16-16 .content #generic-intro h2{max-width: 980px; width: 980px;}
.main-group.grid16-16 .content #general-instructions {max-width: 960px;  border-bottom: 1px solid #ccc;}
.main-group.grid16-16 .content #general-instructions #left, .main-group.grid16-16 .content #general-instructions #right{width: 460px}
/*-----------------Status--------------------------------------------------*/
div.approved {background-image: url(images/approved-status.png);}
div.in-progress {background-image: url(images/in-progress-status.png);}
div.submited {background-image: url(images/submited-status.png);}
/*-----------------Listing Forms--------------------------------------------------*/
.main-group.grid16-16 {width: 1024px;}
.main-group.grid16-16 .content{width: 1000px;}
.main-group.grid16-16 .content .sub-head{right: 16px;}
.main-group.grid16-16 .content .health-element{}
.main-group.grid16-16 .content .health-element .element-header{padding-left: 0;}
.main-group.grid16-16 .content .health-element .element-header .module-name{padding-left: 10px;}
.main-group.grid16-16 .content .health-element .form-element-list{padding:10px 10px 0 10px; width: 980px; overflow: hidden;}
.main-group.grid16-16 .content .health-element .form-element-list .form-element{width: 980px; overflow: hidden;}
.main-group.grid16-16 .content .health-element .form-element-list .form-element .text{background-position: right center; padding: 0 10px 0 0; width: 895px;}
.main-group.grid16-16 .content .health-element .form-element-list .form-element .edir{padding: 0 0 0 10px;}
.main-group.grid16-16 .content p.finish{width: 980px; max-width: 970px; padding-bottom: 0 10px 10px 10px}
.main-group.grid16-16 .content p.finish span.part{float: left;}
.main-group.grid16-16 .content p.finish > a{float: left;}
.main-group.grid16-16 .content p.finish > span{float: right;}
.content-inner-inner .content-content div#block-cacure_mgmt-1 .content {width: 100%;}
.#block-cacure_mgmt-1 .element-header {}
/*-----------------Styles Left Menu--------------------------------------------------*/
.sidebar-first-inner {}
.sidebar-first-inner .quest-progress image{display: none;}
.sidebar-first-inner div.in-progress, .sidebar-first-inner div.submitted, .sidebar-first-inner div.approved, .sidebar-first-inner div.completed {background-position: 0 8px;}
.sidebar-first-inner .grid16-4, .sidebar-first.grid16-4{width: 205px; float: left;}
.sidebar-first-inner .grid16-4 .inner{margin: 0; text-align: left;}
.sidebar-first-inner .grid16-4 .inner .health-element{margin-left: 0;}
.sidebar-first-inner .grid16-4 .inner .health-element .form-element-list .form-element .text {border-bottom: 1px solid #cfcaca; margin-right: 0; padding: 5px 0 5px 15px;}
.sidebar-first-inner .grid16-4 .inner .health-element .form-element-list .form-element .text a {text-decoration: none; line-height: 14px; font-weight: normal;}
.sidebar-first-inner .grid16-4 .inner .health-element .form-element-list .form-element .text a:hover {text-decoration: none; background: #b2c7a5; color: #365225;}
.sidebar-first-inner .quest-title .quest-progress.image {display: none;}
#block-cacure_mgmt-6 div.image {}
/*-----------------Styles Form--------------------------------------------------*/
.content-group.grid16-12, .main-group.grid16-12 {width: 100%; text-align: left; margin-left: -205px; float: right;}
.content-group.grid16-12 #main-group-inner, .main-group.grid16-12 #main-group-inner {margin-left: 205px;}
.content-group.grid16-12 .content-inner-inner {margin: 0 0 0 9px}
.content-group.grid16-12 .content-inner-inner .hcitContent.xforms-group{width: 810px;}
.content-group.grid16-12 .content-inner-inner .hcitContent.xforms-group .xforms-group-content {background: #dedede; color: #000; border: 1px solid #8d8d8d;}
.xforms-group .xforms-group-content .hcitSimpleTable .hcitColumnHeadingsCell{text-align: center;}
#xform-block .xforms-item-label {margin-left: 0; padding-left: 5px;}
.xforms-group-content .hcitContentText.xforms-control label br {display: none;}
.xforms-group-content .hcitComplexTable input, .xforms-group-content .hcitComplexTable select, .xforms-group-content .xforms-control input[type="text"], .xforms-group-content .xforms-control input[type="password"], .xforms-group-content .xforms-control select, .xforms-group-content .xforms-control textarea, .xforms-group-content .hcitComplexTable tbody td input[type="text"], .xforms-group-content .hcitComplexTable tbody td select, .xforms-group-content .hcitComplexTable tbody td input[type="text"] {border: 1px solid #ccc;}
.xforms-group-content .hcitComplexTable input[type="checkbox"] {border: none; width: 13px;}
.xforms-group-content .hcitComplexTable input {min-width: 98%; width: 98%;}
.xforms-group-content .hcitComplexTable select {min-width: 100%; width: 100%;}
.xforms-group-content .xforms-control textarea {resize: none;}
.main-group.grid16-12 .xforms-group {width: 99%;}
.xforms-group-content span.learnmore {font-weight: bold; color: #27638C; line-height: 14px; padding: 5px 0; display: inline-block; margin: 0; } 
.xforms-group-content span.learnmore a{font-weight: bold; color: #27638C; text-decoration: underline;} 
/*---------------Styles-For Form Tabel-----------------------------*/
.xforms-group-content .hcitQuestionText{margin: 0; display: inline-block; line-height: 14px;}
.xforms-group-content .hcitAnswerText{margin: 0; display: block; line-height: 14px;}
.xforms-group-content .hcitAnswerText textarea , .xforms-group-content .hcitAnswerText input[type="text"], .xforms-group-content .hcitAnswerRadio select, .xforms-group-content .hcitAnswerRadio .xforms-itemset, .xforms-group-content .hcitAnswerCheckbox .xforms-itemset{margin: 0 0 0 10px; float: left;}
.xforms-group-content .hcitAnswerRadio .xforms-itemset .xforms-itemset, .xforms-group-content .hcitAnswerCheckbox .xforms-itemset .xforms-itemset{margin-left: 0;}
.xforms-group-content .hcitAnswerText textarea {margin: 0 0 0 10px; width: 798px; max-width: 798px;}
/*.xforms-group-content .hcitContentText label.xforms-label b{font-weight: normal!important;}*/
.xforms-group-content .hcitContentText label.xforms-label font{font-size: 14px; font-weight: bold; width: 100%;}
.xforms-group-content .hcitQuestionText .xforms-value{font-weight: bold;}
.xforms-group-content .hcitComplexTable {margin: 0; padding: 0;}
.xforms-group-content table.hcitComplexTable {border-bottom: 1px solid #cfcaca; color: #666;}
.xforms-group-content .hcitComplexTable th, .xforms-group-content .hcitComplexTable thead {background:#f1f1f1; border-bottom: 1px solid #cfcaca; border-top: 1px solid #cfcaca; font-weight: bold;}
.xforms-group-content .hcitComplexTable th {vertical-align: bottom;}
.xforms-group-content .hcitComplexTable td, .xforms-group-content .hcitComplexTable th {color: #666}
.xforms-group-content .hcitComplexTable tbody > tr:nth-child(2n+1), .xforms-group-content .hcitComplexTable tbody > tr:nth-child(2n+1)  {background: #f0f0f0;}
.xforms-group-content .hcitComplexTable tbody > tr:nth-child(2n), .xforms-group-content .hcitComplexTable tbody > tr:nth-child(2n) {background: #d7d7d7;}
.xforms-group-content .hcitComplexTable tbody > tr.light td, .xforms-group-content .hcitComplexTable tbody > tr.light td  {background: #f0f0f0;}
.xforms-group-content .hcitComplexTable tbody > tr.dark td, .xforms-group-content .hcitComplexTable tbody > tr.dark td {background: #d7d7d7;}
.xforms-group-content .hcitComplexTable tbody > tr td.firsColumn {min-width: 200px;}
.xforms-group-content .hcitComplexTable tbody td input[type="text"] {min-width: 98%; width: 98%; padding: 1px 0}
.xforms-group-content .hcitComplexTable tbody td span.date input[type="text"] {min-width: 95%; width: 95%; padding: 1px 0}
.xforms-group-content .hcitComplexTable tbody td span.number input[type="text"] {width: 50px; min-width: 50px; padding: 1px 0}
.xforms-group-content .hcitComplexTable tbody td .hcitAnswerText input[type="text"], .xforms-group-content .hcitComplexTable tbody td .hcitAnswerText textarea, .xforms-group-content .hcitComplexTable tbody td .hcitAnswerRadio select,  .xforms-group-content .hcitComplexTable tbody td input  {margin-left: 0;}
.xforms-group-content .xforms-submit{border-top: 1px solid #8d8d8d; padding-top: 10px;}
.hcit-save-for-later-group, .hcit-approve-action-group {border-top: 1px solid #8D8D8D;}
.hcit-save-for-later-group .xforms-group-content{}
.hcit-save-for-later-group .xforms-group-content .xforms-submit, .hcit-approve-action-group .xforms-group-content .xforms-submit {border-top: 0; float: left; width: auto;}
.xforms-group-content .hcitRowHeadingsCell .xforms-value {font-weight: bold;}
.xforms-group-content .hcitComplexTable span.xforms-value {font-weight: bold;}
.xforms-group-content .hcitAnswerCheckbox, .xforms-group-content .hcitAnswerRadio {display: block;}
/*----------------------------------------------------------------*/
.hcitSimpleTable {border-bottom: 1px solid #cfcaca}
.hcitSimpleTable .hcitHeaderCrossCell, .hcitSimpleTable .hcitColumnHeadingsCell {border-bottom: 1px solid #cfcaca; border-top: 1px solid #cfcaca}
.hcitSimpleTable tbody > tr:nth-child(2n+1), .hcitSimpleTable tbody > tr:nth-child(2n+1) * {background: #f0f0f0;}
.hcitSimpleTable tbody > tr:nth-child(2n), .hcitSimpleTable tbody > tr:nth-child(2n) * {background: #d7d7d7;}
.hcitSimpleTable .xforms-itemset {display: block; width: auto; overflow: hidden; float: right;}
.hcitSimpleTable .xforms-item {display: block; width: 80px; float: left; padding: 0;}
/*-----------------Fix for hcit_styles--------------------------------------------*/
.xforms-group, .xforms-submit, #title {width: auto}
